{% extends "base.html" %}

{% block body %}
<div class="container">
    <h1>Mantenedor Condición</h1>
    <div class="mantenedor">
      <div class="table-responsive">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th scope="col">Condición</th>
                      <th scope="col">Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  {% for condition in get_condition %}
                  <tr class="">
                      <td>{{condition.name_condicion}}</td>
                      <td>
                          <a name="" id="" class="btn btn-primary" href="/editar_condition/{{condition.condicion_pk}}" role="button">Editar</a>
                          <a name="" id="" class="btn btn-danger" href="/eliminar_condition/{{condition.condicion_pk}}" role="button">Eliminar</a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          <div class="container">
            <a name="" id="" class="btn btn-primary" href="/registrar_condition/" role="button">Añadir Condición</a>
          </div>
      </div>
    </div>
  </div>
{% endblock %}