
#id_bodega_fk { 
    width: 50%;
}

#id_origen_fk { 
    width: 50%;

}

/* div.dataTables_wrapper {
        width: 800px;
        margin: 0 auto;
    } */

#goTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  transition: opacity 0.1s;
  display: flex; /* Usar flexbox para centrar el contenido */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}


#goTopButton::after {
  content: "↑"; /* Agregar una flecha ↑ como contenido pseudo-elemento */
  font-size: 30px;
}