{% extends "base.html" %}

{% block body %}
<div class="container">
    <h1>Mantenedor Uom</h1>
    <div class="mantenedor">
      <div class="table-responsive">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th scope="col">Uom</th>
                      <th scope="col">Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  {% for uom in get_uom %}
                  <tr class="">
                      <td>{{uom.name_uom}}</td>
                      <td>
                          <a name="" id="" class="btn btn-primary" href="/editar_uom/{{uom.uom_pk}}" role="button">Editar</a>
                          <a name="" id="" class="btn btn-danger" href="/eliminar_uom/{{uom.uom_pk}}" role="button">Eliminar</a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          <div class="container">
            <a name="" id="" class="btn btn-primary" href="/registrar_uom/" role="button">Añadir Uom</a>
          </div>
      </div>
    </div>
  </div>
{% endblock %}