{% extends "./base.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Buscador STDF</h1>
            <form action="{% url 'buscar_stdf' %}" method="GET">
                <input class="form-control" type="text" name="q" placeholder="Ingrese STDF">
                <input class="btn btn-primary m-2" type="submit" value="Buscar">
            </form>
        </div>
        <div class="col-6">
            <h1>Buscador AWB</h1>
            <form action="{% url 'buscar_stdf' %}" method="GET">
                <input class="form-control" type="text" name="w" placeholder="Ingrese AWB">
                <input class="btn btn-primary m-2" type="submit" value="Buscar">
            </form>
        </div>
    </div>
</div>
<hr>
<form action="" method="post">
    {% csrf_token %}
    <div class="container m-2">
        <div class="row p-2">
            <!-- {% for comat in form_comat %} -->
            <div class="col-6 p-2">
                <label>{{comat.label}}</label>
                {{comat}}
            </div>
            <!-- {% endfor %} -->
        </div>
    </div>
    <input type="submit" value="Guardar">
</form>

{% endblock %}