{% extends "./base.html" %}

{% block body %}



<div class="row p-2">
    <div class="col-md-6 p-2">
        <h2>Detalles Comat</h2>
        <br> 
        <dl class="row">
            <dt class="col-sm-4">STDF:</dt>
            <dd class="col-sm-8">{{detalle_comat.stdf_pk}}</dd>

            <dt class="col-sm-4">AWB:</dt>
            <dd class="col-sm-8">{{detalle_comat.awb}}</dd>

            <dt class="col-sm-4">HAWB:</dt>
            <dd class="col-sm-8">{{detalle_comat.hawb}}</dd>

            <dt class="col-sm-4">N° MANIFIESTO:</dt>
            <dd class="col-sm-8">{{detalle_comat.num_manifiesto}}</dd>

            <dt class="col-sm-4">CORRELATIVO INTERNO:</dt>
            <dd class="col-sm-8">{{detalle_comat.corr_interno}}</dd>

            <dt class="col-sm-4">PCS:</dt>
            <dd class="col-sm-8">{{detalle_comat.pcs}}</dd>

            <dt class="col-sm-4">PESO:</dt>
            <dd class="col-sm-8">{{detalle_comat.peso}}</dd>

            <dt class="col-sm-4">FECHA DE CONTROL:</dt>
            <dd class="col-sm-8">{{detalle_comat.f_control}}</dd>

            <dt class="col-sm-4">FECHA DE MANIFIESTO:</dt>
            <dd class="col-sm-8">{{detalle_comat.f_manifiesto}}</dd>

            <dt class="col-sm-4">FECHA DE RECEPCION:</dt>
            <dd class="col-sm-8">{{detalle_comat.f_recepcion}}</dd>

            <dt class="col-sm-4">FECHA DE STDF:</dt>
            <dd class="col-sm-8">{{detalle_comat.f_stdf}}</dd>

            <dt class="col-sm-4">FOB:</dt>
            <dd class="col-sm-8">{{detalle_comat.fob}}</dd>

            <dt class="col-sm-4">FLETE:</dt>
            <dd class="col-sm-8">{{detalle_comat.flete}}</dd>

            <dt class="col-sm-4">SEGURO:</dt>
            <dd class="col-sm-8">{{detalle_comat.seguro}}</dd>

            <dt class="col-sm-4">CIF:</dt>
            <dd class="col-sm-8">{{detalle_comat.sum_cif}}</dd>

            <dt class="col-sm-4">BODEGA:</dt>
            <dd class="col-sm-8">{{detalle_comat.bodega_fk}}</dd>

            <dt class="col-sm-4">ORIGEN:</dt>
            <dd class="col-sm-8">{{detalle_comat.origen_fk}}</dd>

            <dt class="col-sm-4">OBSERVACIONES:</dt>
            <dd class="col-sm-8">{{detalle_comat.observaciones}}</dd>
        </dl>
    </div>
</div>



  
{% endblock %}
