{% extends "./base.html" %}

{% block body %}

<div class="row p-2">
    <div class="col-md-6 p-2">
        <h2>Detalles Incoming</h2>
        <br> 
        <dl class="row">
            <dt class="col-sm-4">Serial / Batch Number:</dt>
            <dd class="col-sm-8">{{detalle_incoming.sn_batch_pk}}</dd>

            <dt class="col-sm-4">Categoria:</dt>
            <dd class="col-sm-8">{{detalle_incoming.categoria_fk}}</dd>

            <dt class="col-sm-4">Part Number:</dt>
            <dd class="col-sm-8">{{detalle_incoming.part_number}}</dd>

            <dt class="col-sm-4">Fecha de Incoming:</dt>
            <dd class="col-sm-8">{{detalle_incoming.f_incoming}}</dd>

            <dt class="col-sm-4">Descripción:</dt>
            <dd class="col-sm-8">{{detalle_incoming.descripcion}}</dd>

            <dt class="col-sm-4">PO:</dt>
            <dd class="col-sm-8">{{detalle_incoming.po}}</dd>

            <dt class="col-sm-4">QTY:</dt>
            <dd class="col-sm-8">{{detalle_incoming.qty}}</dd>

            <dt class="col-sm-4">Unit Purchase Cost:</dt>
            <dd class="col-sm-8">{{detalle_incoming.u_purchase_cost}}</dd>

            <dt class="col-sm-4">Total Purchase Cost:</dt>
            <dd class="col-sm-8">{{detalle_incoming.total_u_purchase_cost}}</dd>

            <dt class="col-sm-4">Fecha de Vencimiento:</dt>
            <dd class="col-sm-8">{{detalle_incoming.f_vencimiento}}</dd>

            <dt class="col-sm-4">Saldo:</dt>
            <dd class="col-sm-8">{{detalle_incoming.saldo}}</dd>

            <dt class="col-sm-4">Clasificación:</dt>
            <dd class="col-sm-8">{{detalle_incoming.clasificacion_fk}}</dd>

            <dt class="col-sm-4">Condición:</dt>
            <dd class="col-sm-8">{{detalle_incoming.condicion_fk}}</dd>

            <dt class="col-sm-4">N° Ficha:</dt>
            <dd class="col-sm-8">{{detalle_incoming.ficha_fk}}</dd>

            <dt class="col-sm-4">Owner:</dt>
            <dd class="col-sm-8">{{detalle_incoming.owner_fk}}</dd>

            <dt class="col-sm-4">STDF:</dt>
            <dd class="col-sm-8">{{detalle_incoming.stdf_fk}}</dd>

            <dt class="col-sm-4">Ubicación:</dt>
            <dd class="col-sm-8">{{detalle_incoming.ubicacion_fk}}</dd>

            <dt class="col-sm-4">UOM:</dt>
            <dd class="col-sm-8">{{detalle_incoming.uom_fk}}</dd>

            <dt class="col-sm-4">OBSERVACIONES:</dt>
            <dd class="col-sm-8">{{detalle_incoming.observaciones}}</dd>
        </dl>
    </div>
</div>



  
{% endblock %}
