{% extends "./base.html" %}

{% block body %}
  <h1>Resultados de la búsqueda</h1>

  {% if query_sn %}
  <p>Resultados para: "{{ query_sn }}"</p>

    <div class="row p-2">
      {% for producto in resultados_sn %}
        <div class="col-6 p-2">
            <label for="">SN (Incoming ID)</label>
            {{producto.id_sn_batch}}
        </div>
        <div class="col-6 p-2">
            <label for="">ID Consumo</label>
            {{producto.id_consumo}}
        </div>
        <div class="col-6 p-2">
          <label for="">Fecha Transacción</label>
          {{producto.f_transaccion}}
        </div>
        <div class="col-6 p-2">
          <label for="">Matricula Aeronava</label>
          {{producto.matricula_aeronave}}
        </div>
        <div class="col-6 p-2">
          <label for="">Orden de Consumo</label>
          {{producto.orden_consumo}}
        </div>
        <div class="col-6 p-2">
          <label for="">Cantidad Extraida</label>
          {{producto.qty_extraida}}
        </div>
        <div class="col-6 p-2">
          <label for="">ID Estado</label>
          {{producto.id_estado}}
        </div>
        {% endfor %}
  </div>
  {% else %}
  <p>Resultados para: "{{ query_bn }}"</p>

  <div class="row p-2">
    {% for producto in resultados_part %}
    <div class="col-6 p-2">
        <label for="">SN (Incoming ID)</label>
        {{producto.id_sn_batch}}
    </div>
    <div class="col-6 p-2">
        <label for="">ID Consumo</label>
        {{producto.id_consumo}}
    </div>
    <div class="col-6 p-2">
      <label for="">Fecha Transacción</label>
      {{producto.f_transaccion}}
    </div>
    <div class="col-6 p-2">
      <label for="">Matricula Aeronava</label>
      {{producto.matricula_aeronave}}
    </div>
    <div class="col-6 p-2">
      <label for="">Orden de Consumo</label>
      {{producto.orden_consumo}}
    </div>
    <div class="col-6 p-2">
      <label for="">Cantidad Extraida</label>
      {{producto.qty_extraida}}
    </div>
    <div class="col-6 p-2">
      <label for="">ID Estado</label>
      {{producto.id_estado}}
    </div>
      {% endfor %}
</div>
{% endif %}
{% endblock %}
