{% extends 'base.html' %}

{% block body %}
<body>
    <h1>Editar Comat</h1>
    
    <form method="post">
        {% csrf_token %}
        <div class="row p-2">
            {% for field in form %}
            <div class="col-6 p-2">
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% endfor %}
        </div>
        <input style="background-image: linear-gradient(135deg, rgb(32, 144, 215) 0%, rgb(16, 91, 148) 100%); color: #f1f8fe;" class="btn" type="submit" value="Guardar">
    </form>


</body>
{% endblock %}
