{% extends "base.html" %}

{% block body %}
<div class="container">
    <h1>Mantenedor Ficha</h1>
    <div class="mantenedor">
      <div class="table-responsive">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th scope="col">Número Ficha</th>
                      <th scope="col">Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  {% for ficha in get_ficha %}
                  <tr class="">
                      <td>{{ficha.name_ficha}}</td>
                      <td>
                          <a name="" id="" class="btn btn-primary" href="/editar_ficha/{{ficha.ficha_pk}}" role="button">Editar</a>
                          <a name="" id="" class="btn btn-danger" href="/eliminar_ficha/{{ficha.ficha_pk}}" role="button">Eliminar</a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          <div class="container">
            <a name="" id="" class="btn btn-primary" href="/registrar_ficha/" role="button">Añadir Ficha</a>
          </div>
      </div>
    </div>
  </div>
{% endblock %}