{% extends "base.html" %}

{% block body %}
<div class="container">
    <h1>Mantenedor Cargo</h1>
    <div class="mantenedor">
      <div class="table-responsive">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th scope="col">Nombre Cargo</th>
                      <th scope="col">Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  {% for cargo in get_cargo %}
                  <tr class="">
                      <td>{{cargo.name_cargo}}</td>
                      <td>
                          <a name="" id="" class="btn btn-primary" href="/editar_cargo/{{cargo.id}}" role="button">Editar</a>
                          <a name="" id="" class="btn btn-danger" href="/eliminar_cargo/{{cargo.id}}" role="button">Eliminar</a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          <div class="container">
            <a name="" id="" class="btn btn-primary" href="/registrar_cargo/" role="button">Añadir Cargo</a>
          </div>
      </div>
    </div>
  </div>
{% endblock %}