{% extends "base.html" %}

{% block body %}
<div class="container">
    <h1>Mantenedor Origen</h1>
    <div class="mantenedor">
      <div class="table-responsive">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th scope="col">Nombre Origen</th>
                      <th scope="col">Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  {% for origen in get_origen %}
                  <tr class="">
                      <td>{{origen.name_origen}}</td>
                      <td>
                          <a name="" id="" class="btn btn-primary" href="/editar_origen/{{origen.origen_pk}}" role="button">Editar</a>
                          <a name="" id="" class="btn btn-danger" href="/eliminar_origen/{{origen.origen_pk}}" role="button">Eliminar</a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          <div class="container">
            <a name="" id="" class="btn btn-primary" href="/registrar_origen/" role="button">Añadir Origen</a>
          </div>
      </div>
    </div>
  </div>
{% endblock %}